[submodule "Plugins/FaerieDataSystem"]
	path = Plugins/FaerieDataSystem
	url = https://github.com/Drakynfly/FaerieDataSystemPublic
[submodule "Plugins/Squirrel"]
	path = Plugins/Squirrel
	url = git@github.com:Drakynfly/SquirrelUE.git
